{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
<h1 class="p-3 mt-5 bg-danger text-white text-center "> liste des séries </h1>
{% if is_granted('ROLE_ADMIN') %}
  <h1 class="text-center"><a  class="btn btn-outline-danger" href="{{ path('program_new') }}">Créer une nouvelle série </a></h1>
  {% endif %}
    <table class="table">
        <thead class="bg-success text-white">
            <tr >
                <th >Title</th>
                <th >Categoru</th>
                <th>actor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody >
        {% for program in programs %}
            <tr class="text-success" >
                <td ><h4>{{ program.title }}</h4></td>
                <td ><h4>{{ program.category.name }}</h4></td>
                <td>     <ul>
                                {% for actor in program.actors %}
                                    <li>
                                        {{ actor.name }}
                                    </li>
                                {% else %}
                                    Aucun acteur
                                {% endfor %}
                            </ul></td>
                <td>
                    <a  class="btn btn-outline-success" href="{{ path('program_show', {'slug': program.slug}) }}">show</a><br><br>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a  class="btn btn-outline-success" href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
