{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summery</th>
                <td>{{ program.summery }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ program.synopsis }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ program.country }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ program.year }}</td>
            </tr>
        </tbody>
    </table>

<h1 class="p-3 mt-5 bg-success text-white text-center ">les Acteurs jouent dans  ce séries:</h1>
<ul class="list-group">
    {% for actor in program.actors %}
        <li class="list-group-item text-center mt-2"><a class="p-3 mb-2 bg-primary text-white text-center"  href="{{ path('actor_show', {'id': actor.id}) }}" >{{ actor.name }} </a></li>
    {% else %}
        <li><p class="p-3 mt-5 bg-danger text-white text-center ">Aucun acteur pour cette série</p></li>
    {% endfor %}
</ul>
    <a class="btn btn-success mt-3 " href="{{ path('program_index') }}">back to list</a><br>

    <a class="btn bg-danger mt-3 text-light" href="{{ path('program_edit', {'id': program.id}) }}">edit</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
