{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1 class="p-3 mt-5 bg-danger text-white text-center ">Actor:</h1>

    <table class="table">
        <tbody>
            <tr>
              
                <td  class="p-3 mt-5 bg-danger text-white text-center "><h1>{{ actor.name }}</h1></td>
            </tr>
        </tbody>
    </table>
<h1 class="p-3 mt-5 bg-success text-white text-center ">les séris associé à  ce Actor:</h1>
<ul class="list-group">
    {% for program in actor.programs %}
        <li class="list-group-item text-center mt-2"><a href="{{ path('program_show', {'slug': program.slug}) }}" class="p-3 mb-2 bg-primary text-white text-center">{{ program.title }} </a></li>
    {% else %}
        <li class="list-group-item"><p class="p-3 mb-2 bg-primary text-white text-center">Aucun séries pour ce actor</p></li>
    {% endfor %}
</ul>
    <a class="btn btn-success mt-3 " href="{{ path('actor_index') }}">back to list</a><br>
     {% if is_granted('ROLE_ADMIN') %} 
    <a class="btn bg-danger mt-3 text-light"  href="{{ path('actor_edit', {'slug': actor.slug}) }}">edit</a>
    {{ include('actor/_delete_form.html.twig') }}
{% endif %}

{% endblock %}
