<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="body">
    {% block header %}
        {% include "navbar.html.twig" %}
    {% endblock %}
 {% block body %}
 <h1 class="bg-success text-center text-danger" >(Q15)</h1>
<h1 class="text-light bg-success text-center">Wild Séries Collection</h1>
    <div class="row row-cols-1 row-cols-md-2 pl-5">
   {% for program in programs %}
  <div class="col mb-4">
    <div class="card col-9">
    <img src="{{ program.poster }}" class="card-img-top " alt="img" width="200" height="200" >
    <div class="card-body">
      <h5 class="card-title">{{ program.title }}</h5>
      <p class="card-text ">{{ program.summery }}</p>
      <p class="card text-light bg-success text-center"><small class="text-muted"></small>{{ program.category.name }}</p>
  </div>
  </div>
  </div>

 {% endfor %}
      </div>
 {% endblock %}
        {% block javascripts %}
         {{ encore_entry_script_tags('app') }}
         {% endblock %}
</html>
